<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">GENERAR EXPEDIENTES</h1>


                <div class="buscadores d-flex justify-content-center">
                    <div class=" buscadorge row g-2 d-block justify-content-center m-4 ">

                    </div>
                </div>

                <div class="tab d-flex justify-content-center">
                    <table class="tabla table shadow">
                        <thead class="cabezeratable">
                            <tr>
                                <th class="letracabe" scope="col">#</th>
                                <th class="letracabe" scope="col">NOMBRE DE LA ORGANIZACIÓN</th>
                                <th class="letracabe" scope="col">TIPO ORG</th>
                                <th class="letracabe" scope="col">Nivel</th>
                                <th class="letracabe" scope="col">ZONA</th>
                                <th class="letracabe" scope="col">TIPO SOLICITUD</th>
                                <th class="letracabe" scope="col">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody class="cuerpo">
                            <tr *ngFor="let solicitud of solicitud; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ solicitud.nombreOrganizacion }}</td>
                                <td>{{ solicitud.tipoOrganizacion.tipoOrganizacionSocial }}</td>
                                <td>{{ solicitud.nivelOrganizacionSocial.nivelOrganizacionSocial }}</td>
                                <td>{{ solicitud.zonaUbicacion.zonaUbicacion }}</td>
                                <td>{{ solicitud.tipoSolicitud.nombreTipoSolicitud }}</td>
                                <td>
                                    <button type="button" (click)="generarExp_codigo_derivar(solicitud.idSolicitud)"
                                        class="btngene btn btn"> DERIVAR</button>
                                </td>
                            </tr>
                            <!-- <tr *ngIf="derivar==false">
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr>
                            <tr *ngIf="derivar1==false">
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar1()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr>
                            <tr *ngIf="derivar2==false">
                                <th scope="row">4</th>
                                <td>Jacob</td>
                                <td>@mdo</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar2()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr>
                            <tr *ngIf="derivar3==false">
                                <th scope="row">5</th>
                                <td>Jacob</td>
                                <td>@mdo</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar3()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr>
                            <tr *ngIf="derivar4==false">
                                <th scope="row">6</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar4()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr>
                            <tr *ngIf="derivar5==false">
                                <th scope="row">6</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@mdo</td>
                                <td>@fat</td>
                                <td>
                                    <input type="submit" (click)="cambiar5()" class="btngene btn btn" placeholder="DERIVAR">
                                </td>
                            </tr> -->

                        </tbody>
                    </table>

                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
</div>