<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">ESTADO EN EL QUE SE ENCUENTRA MI SOLICITUD</h1>

                <div class="contecajas ">
                    <div class="row g-2 d-block justify-content-star">
                        <div class="col-6 d-flex justify-content-star">
                            <label for="exampleFormControlInput1" class="cajas p-2 form-label">Fecha de Solicitud:
                            </label>
                            <input type="text" class="ph-orgname m-1" id="exampleFormControlInput1"
                                placeholder="DD-MM-YYYY" disabled>
                        </div>
                        <div class="col-6 d-flex justify-content-star">
                            <label for="exampleFormControlInput1" class="cajas p-2 form-label">Estado de Solicitud:
                            </label>
                            <input type="text" class="ph-orgname m-1" id="exampleFormControlInput1"
                                placeholder="Pendiente" disabled>
                        </div>
                    </div>
                </div>


                <!--<div class="textos">
                    <div class="row g-2 d-block justify-content-star">
                      <div class="col-6">
                        <div class=" cajas p-3 border bg-light d-flex justify-content-star">
                            <label for="exampleFormControlInput1" class="zonlb form-label m-3 ">
                                FECHA SOLICITUD:</label>
                                <input type="text" class="nombreorgcaja form-label" id="exampleFormControlInput1"
                                placeholder=" " disabled>
                        </div>
                      </div>
                      <div class="col-6 border">
                        <div class="cajas p-3 border bg-light d-flex justify-content-star">
                            <label for="exampleFormControlInput1" class="zonlb form-label m-3">
                                ESTADO:</label>
                                <input type="text" class="nombreorgcaja form-label" id="exampleFormControlInput1"
                                placeholder=" " disabled>
                        </div>
                      </div>
                    </div>
                  </div>-->

            </div>

        </div>
    </div>
</div>