<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">EXPEDIENTES</h1>

                <div class="buscadores d-flex justify-content-center">

                </div>


                <div class="tab d-flex justify-content-center">
                    <table class="tabla table shadow">
                        <thead class="cabezeratable">
                            <tr>
                                <th class="letracabe" scope="col">N° EXPEDIENTE</th>
                                <th class="letracabe" scope="col">CODIGO SOLICITUD</th>
                                <th class="letracabe" scope="col">NOMBRE DE ORGANIZACIÓN</th>
                                <th class="letracabe" scope="col">ZONA</th>
                                <th class="letracabe" scope="col">TIPO DE SOLICITUD</th>
                                <th class="letracabe" scope="col">FECHA DE EMISIÓN</th>
                                <th class="letracabe" scope="col">ACCIÓN</th>
                            </tr>
                        </thead>
                        <tbody class="cuerpo">
                            <tr *ngFor="let solicitud of solicitud; let i = index">
                                <td>{{ solicitud.numeroExpediente }}</td>
                                <td>{{ solicitud.codigoSolicitud }}</td>
                                <td>{{ solicitud.nombreOrganizacion }}</td>
                                <td>{{ solicitud.zonaUbicacion.zonaUbicacion}}</td>
                                <td>{{ solicitud.tipoSolicitud.nombreTipoSolicitud }}</td>
                                <td>{{ solicitud.fechaRegistro | date:'dd/MM/YYYY'}}</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" (click)="verDocuParaSubirInforme(solicitud.idSolicitud)"
                                            class="btngene btn btn m-2">VER DOCUMENTOS</button>
                                    </div>
                                </td>
                            </tr>
                            <!-- <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Morón Chico</td>
                                <td>Actualización</td>
                                <td>@mdo</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" class="btngene btn btn m-2">SUBIR INFORME</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Sán Bartolóme</td>
                                <td>Registro</td>
                                <td>@mdo</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" class="btngene btn btn m-2">SUBIR INFORME</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Jacob</td>
                                <td>Villa Rica</td>
                                <td>Registro</td>
                                <td>@mdo</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" class="btngene btn btn m-2">SUBIR INFORME</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Jacob</td>
                                <td>Huascata</td>
                                <td>Registro</td>
                                <td>@mdo</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" class="btngene btn btn m-2">SUBIR INFORME</button>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Jacob</td>
                                <td>El Cuadro</td>
                                <td>Registro</td>
                                <td>@mdo</td>
                                <td>
                                    <div class="btngen">
                                        <button type="button" class="btngene btn btn m-2">SUBIR INFORME</button>
                                    </div>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>