<div class="topbar">
    <!-- LOGO -->
    <!-- <div class="topbar-left">
        <a href="#" class="logo">
            <img src="/assets/images/logoUno.png" alt="" width="60">
           
        </a>
    </div> -->

    <nav class="navbar-custom">
        <img src="/assets/images/logoUno.png" class="ml-5 mt-1" alt="" width="60">
        <ul class="navbar-right list-inline float-right mb-0 mr-5">
            
            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link" href="#">
                    <p> ¿Que es RUOS? </p>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link" href="#">
                    <p> Requisitos </p>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link" href="#">
                    <p> Resoluciones </p>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#">
                    <i class="fa-brands fa-facebook noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#">
                    <i class="fa-brands fa-instagram noti-icon"></i>
                </a>
            </li>

            <li class="dropdown notification-list list-inline-item d-none d-md-inline-block">
                <a class="nav-link waves-effect" href="#">
                    <i class="fa-brands fa-square-twitter noti-icon"></i>
                </a>
            </li>

        </ul>
    </nav>
</div>