<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">MIS NOTIFICACIONES</h1>


                <table class="tabla table shadow">
                    <thead class="cabezeratable">
                        <tr>
                            <th class="letracabe" scope="col">#</th>
                            <th class="letracabe" scope="col">TIPO SOLICITUD</th>
                            <th class="letracabe" scope="col">DESCRIPCION</th>
                            <th class="letracabe" scope="col">RESULTADO</th>
                            <th class="letracabe" scope="col">DOCUMENTO NOTIFICACION</th>
                            <th class="letracabe" scope="col">
                                <i class="fa-solid fa-download"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="cuerpo">
                        <tr *ngFor="let data of notificacion; let i = index">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ data.solicitud.tipoSolicitud.nombreTipoSolicitud }}</td>
                            <td>{{ data.descripcionNotificacion }}</td>
                            <td>{{ data.resultadoNotificacion }}</td>
                            <td class="texto">
                                <i class="doc fa-solid fa-file-pdf" style="color: red;"
                                    (click)="verDoc(data.documentoNotificacion)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>