<!-- Top Bar Start -->
<div class="topbar">
    <!-- LOGO -->
    <div class="topbar-left">
        <a  class="logo" (click)="principal()">
            <span class="logo-light">
                <img src="assets/images/logoUno.png" alt="logo" height="60"> SIGRY SMUC
            </span>
            <span class="logo-sm">
                <img src="assets/images/logoUno.png" alt="logo" height="60">
            </span>
        </a>
    </div>
    <nav class="navbar-custom">
        <ul class="navbar-right list-inline float-right mb-0">

            <li class="dropdown  list-inline-item  colorLetra">
                <span *ngIf="usuario.rol=='ADMIN_ROLE'">Administrador</span>
                <span *ngIf="usuario.rol=='USER_ROLE'">Usuario</span>
                <span *ngIf="usuario.rol=='MESA_PARTE_ROLE'">Mesa De Partes</span>
                <span *ngIf="usuario.rol=='GERENCIA_ROLE'">Gerencia de Desarrollo Social</span>
                <span *ngIf="usuario.rol=='SUB_GERENCIA_ROLE'">Sub Gerencia de desarrollo Social</span>
            </li>

            <li class="dropdown notification-list list-inline-item">
                <div class="dropdown notification-list nav-pro-img">
                    <a class="dropdown-toggle nav-link arrow-none nav-user" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="assets/images/user-4.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle"></i> Profile</a>
                        <!-- <a class="dropdown-item" href="#"><i class="mdi mdi-wallet"></i> Wallet</a> 
                        <a class="dropdown-item d-block" href="#"><span
                                class="badge badge-success float-right">11</span><i class="mdi mdi-settings"></i>
                            Settings</a> 
                        <a class="dropdown-item" href="#"><i class="mdi mdi-lock-open-outline"></i> Lock screen</a> -->
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" (click)="cerrarSesion()"><i
                                class="mdi mdi-power text-danger"></i>
                            Cerra Sesion</a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-effect">
                    <i class="mdi mdi-menu"></i>
                </button>
            </li>
        </ul>
    </nav>
</div>