<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">EXPEDIENTES</h1>

                <!--     <div class="buscadores d-flex justify-content-center">
                    <div class=" buscadorge row g-2 d-block justify-content-center m-4 ">
                        <div class="col-12">
                            <div class="p-3">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-7">
                                        <label for="exampleFormControlInput1" class="name form-label">N°
                                        </label>
                                        <input type="text" class="ph-orgname" id="exampleFormControlInput1"
                                            placeholder="Ingrese el N° Expediente">
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="bus btn btn">BUSCAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="p-3">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-5 ">
                                        <label for="exampleFormControlInput1" class="name form-label">Zona:
                                        </label>
                                        <select class="zona form-select rounded-pill"
                                            aria-label="Default select example">
                                            <option selected></option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                    <div class="col-5 ">
                                        <label for="exampleFormControlInput1" class="name form-label">Tipo solicitud:
                                        </label>
                                        <select class="zona form-select rounded-pill"
                                            aria-label="Default select example">
                                            <option selected></option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->


                <div class="tab d-flex justify-content-center">
                    <table class="tabla table shadow">
                        <thead class="cabezeratable">
                            <tr>
                                <th class="letracabe" scope="col">#</th>
                                <th class="letracabe" scope="col">NOMBRE DE LA ORGANIZACIÓN</th>
                                <th class="letracabe" scope="col">TIPO ORG</th>
                                <th class="letracabe" scope="col">Nivel</th>
                                <th class="letracabe" scope="col">ZONA</th>
                                <th class="letracabe" scope="col">TIPO SOLICITUD</th>
                            </tr>
                        </thead>
                        <tbody class="cuerpo">
                            <tr *ngFor="let solicitud of solicitud; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <td>{{ solicitud.nombreOrganizacion }}</td>
                                <td>{{ solicitud.tipoOrganizacion.tipoOrganizacionSocial }}</td>
                                <td>{{ solicitud.nivelOrganizacionSocial.nivelOrganizacionSocial }}</td>
                                <td>{{ solicitud.zonaUbicacion.zonaUbicacion }}</td>
                                <td>{{ solicitud.tipoSolicitud.nombreTipoSolicitud }}</td>
                            </tr>
                            <!-- <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                                <td>@fat</td>
                                <td>@mdo</td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>

                <div class="btngen d-flex justify-content-center">
                    <a (click)="cambiar()" type="button" class="btngene btn btn m-3">GENERAR EXPEDIENTES</a>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>

        </div>
    </div>
</div>