<div class="content-page">
    <div class="content">
        <div class="container-fluid">

            <div class="general"><br>
                <h1 class="titulo1">MI ORGANIZACIÓN</h1>

                <div class="contenidogene">
                    <div class="row g-2">

                        <div class="cuadroimg col-5">
                            <div class="p-3 d-flex justify-content-center">
                                <!-- <img class="imagen1" [src]="myimage" alt="Imagen Organización Social"> -->
                            </div>
                        </div>

                        <div class="contecua col-7  d-block justify-content-center shadow-lg">
                            <div class="dtorg p-3 d-block justify-content-center">
                                <label for="exampleFormControlInput1" class="juntalb form-label borderm-3">
                                    DATOS DE MI ORGANIZACIÓN</label>
                                <div class="cuadros">
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <div class="p-3">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    NOMBRE DE ORGANIZACIÓN:
                                                </label>
                                                <input type="text" class="nombreorgcaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    TIPO DE ORGANIZACIÓN:
                                                </label>
                                                <input type="text" class="tipocaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    NIVEL DE ORGANIZACIÓN:
                                                </label>
                                                <input type="text" class="nivelcaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    ZONA DE ORGANIZACIÓN:
                                                </label>
                                                <input type="text" class="zonacaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    DIRECCIÓN DE ORGANIZACIÓN:
                                                </label>
                                                <input type="text" class="direcaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dtjunta p-4 d-block justify-content-center">
                                <label for="exampleFormControlInput1" class="juntalb form-label borderm-3">
                                    MIEMBROS DE JUNTA DIRECTIVA</label>
                                <div class="cuadros2">
                                    <div class="row g-2">
                                        <div class="col-12">
                                            <div class="p-3 d-flex justify-content-center">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    PRESIDENTE:
                                                </label>
                                                <input type="text" class="nombreorgcaja form-label"
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3 d-flex justify-content-center">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    TESORERO:
                                                </label>
                                                <input type="text" class="nombreorgcaja form-label "
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="p-3 d-flex justify-content-center">
                                                <label for="exampleFormControlInput1" class="enca2 form-label">
                                                    SECRETARIO:
                                                </label>
                                                <input type="text" class="nombreorgcaja form-label "
                                                    id="exampleFormControlInput1" placeholder=" " disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="miembrodoc p-3 d-flex justify-content-star">
                                <label for="exampleFormControlInput1" class="zonlb form-label m-3">
                                    MIEMBROS DE LA ORGANIZACIÓN: </label>
                                <td><i class="imgfile fa-solid fa-file"></i></td>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>