<!-- <app-header-principal></app-header-principal> -->

<div class="general p-4">
    <h1 class="titulo1">RECUPERAR CONTRASEÑA</h1>

    <div class="tab d-flex justify-content-center ">
        <div class="part1">
            <div class="cuadro1 row p-3 d-block justify-content-center ">
                <div class="pa1 col-12 ">
                    <label for="exampleFormControlInput1" class="name form-label">RECUPERA TU CUENTA
                    </label>
                </div>
                <div class="cuadro2 col-12  d-block justify-content-center ">
                    <p class="texto m-2">Ingresa tu correo electronico para enviar un codigo de confirmación
                        de cuenta.
                    </p>
                    <input type="email" class="ph-orgname m-1" id="exampleFormControlInput1"
                        placeholder="Ingrese el correo electronico">
                </div>
                <div class="cuadro3 col-12 ">
                    <div class="botones d-flex justify-content-end p-2">
                        <button type="button" class="btnrechazo btn btn">Cancelar</button>
                        <button type="button" class="btnderivar btn btn">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>